<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.timer.mapper.TaskMapper">

    <select id="findUserAllTask" resultType="HashMap">
        SELECT
            id,
            classifyId,
            status,
            importance,
            created,
            updated,
            remark,
            finishTime,
            finishStatus,
            creator,
            startTime,
            endTime,
            title
        FROM task WHERE creator = #{userId}
        ORDER BY status ASC, created DESC;
    </select>
    <select id="findTaskById" parameterType="HashMap" resultType="HashMap">
        SELECT id,
               classifyId,
               status,
               importance,
               created,
               updated,
               remark,
               finishTime,
               finishStatus,
               creator,
               startTime,
               endTime,
               title
        FROM task WHERE creator = #{userId} AND id = #{taskId}
    </select>
    <insert id="addTask" parameterType="HashMap">
        INSERT INTO task
        SET classifyId = #{classifyId},
            status = #{status},
            importance = #{importance},
            created = #{created},
            updated = #{updated},
            remark = #{remark},
            creator = #{creator},
            startTime = #{from},
            endTime = #{to},
            title = #{title}
    </insert>
    <update id="updateStatus" parameterType="HashMap">
        UPDATE task
        SET status = #{status},
            finishTime = #{finishTime},
            finishStatus = #{finishStatus},
            updated = #{updated}
        WHERE id = #{taskId} AND creator = #{userId}
    </update>
</mapper>